body {
  font: Helvetica;
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background: #eee;
}


th {
  font: Helvetica;
  font-size: 24px;
  font-weight: bold;
  background-color: #008c85;
  color: #e4efee;
}

td, th {
  padding: 6px;
  text-align: left;
}
.nav {
  display: none;
}

@media screen and (max-width: 500px) {

  .nav {
    display:block;
  }
  /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}
  /* Hide page title and table header*/
 thead {
   display: none;
 }
 /* Set border for eeach row*/
  tr {
    border: 1px solid #ccc;
  }
  /* Behave  like a "row" */
  td {
    border: 1px solid;
    position: relative;
    text-align:center;
  }
  td:before {
    top: 10px;
    left: 10px;
    padding-right: 10px;
    white-space: nowrap;
  }
  .collapsed {
   display: none;
 }
 #nextLink {
   margin-top: 2px;
   float: right;
  }
  td:nth-of-type(3):before {content: 'Minimum Deposit: '; }
  td:nth-of-type(4):before { content: 'Interest type: '; }
}
